/*
img {
max-width: 200%;
height: auto;
}
div {
border: 1px solid black;
width: auto;
text-align: center;
}
#info {
background-color: cadetblue;
border: 2px solid black;
color: black;
padding: 5px 10px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 12px;
border-radius: 8px;
}
#info:hover {
background-color: white;
color: cadetblue;
border-radius: 8px;
border: 2px solid cadetblue;
}
*/
#container {
position: relative;
width: 100%;
max-width: auto;
scroll-snap-type: both mandatory;
margin: 30px auto;
white-space: nowrap;
overflow-y: scroll;
}
#container img {
width: 100%;
height: auto;
}

#container .btn {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
-ms-transform: translate(-50%, -50%);
background-color: #f1f1f1;
color: black;
font-size: 16px;
padding: 16px 30px;
border: none;
cursor: pointer;
border-radius: 5px;
text-align: center;
}

#container .btn:hover {
background-color: black;
color: white;
}
.container > div {
display: inline-block;
scroll-snap-align: center;
}
#navigation-section {
overflow: hidden;
position: sticky;
z-index: 10000;
/*background-color: white;*/
top: 0;
width: 100%;
}
#tab {
float: left;
display: block;
color: rgb(54,57,64);
text-align: center;
padding: 14px 16px;
font-family: Verdana, sans-serif;
font-size: 15px;
text-decoration: none;
width: 16.6%;
}
/*#navigation-section a:hover {
background-color: black;
color: white;
}*/
#loggedIn {
  float: left;
  display: block;
  color: rgb(54,57,64);
  text-align: center;
  padding: 14px 16px 14px 40px;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  text-decoration: none;
  width: 16.6%;
}
#logo {
  float: left;
  display: block;
  color: rgb(54,57,64);
  text-align: center;
  padding: 14px 40px 14px 16px;
  font-family: Verdana, sans-serif;
  font-size: 15px;
  text-decoration: none;
  width: 16.6%;
}
