#container {
    position: relative;
}

#container img {
    width: 100%;
    height: auto;
}

#container .btn {
    display: inline-block;
    position: relative;
    width: auto;
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    text-align: center;
}

#container .btn:hover {
    background-color: black;
    color: white;
}

body {
    background-color: black;
    color: white;
    font-family: "Spline Sans";
    font-size: 22px;
    text-decoration: none;
}

.text {
    position: absolute;
    top: 30%;
    width: 300px;
    right: 10%;
    text-align: center;
    padding: 20px;
    background-color: rgba(128, 128, 128, 0.7);
    border-radius: 6px;
}

#container1 {
    position: relative;
    width: 100%;
    background-color: grey;
    border: 1px solid white;
}

#container1 img {
    width: 50%;
    height: auto;
}

.fill {
    object-fit: fill;
}

.cover {
    object-fit: cover;
}

#container1 .btn {
    position: absolute;
    background-color: #f1f1f1;
    color: black;
    font-size: 16px;
    padding: 16px 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

#container1 .btn:hover {
    background-color: black;
    color: white;
}

#container nav {
    display: inline;
    position: sticky;
}

.text button {
    width: 100%;
    background-color: white;
    border-radius: 8px;
}

.text1 {
    position: absolute;
    top: 0;
    width: 50%;
    right: 0;
    text-align: left;
    background-color: grey;
}

#outer {
    position: relative;
    display: table;
    width: 100%;
    background-color: #F1F1F1;
    margin: 0px;
    border: 1px solid white;
}

#outer img {
    position: relative;
    width: 50%;
    left: 10%;
    margin: 20px;
    border-radius: 7px;
    border: 2px solid white;
}

.applyOnline {
    background-color: rgb(49, 124, 181);
    color: white;
    text-align: center;
    font-size: 12px;
    /*margin: 0% 100px 0% 0%;*/
    border: 1px solid black;
    padding: 14px;
    width: 108.7px;
    border-radius: 4px;
}

.findOutMore {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 12px;
    /*margin: 0% 100px 0% 0%;*/
    border: 1px solid black;
    padding: 14px;
    border-radius: 4px;
}

.inner {
    position: relative;
    right: 0;
    top: 0;
    width: 50%;
    height: auto;
    text-align: left;
    background-color: #F1F1F1;
    padding: 6px;
    display: table-cell;
}

.title {
    position: absolute;
    top: 10%;
    left: 10%;
    font-size: 40px;
}

a {
    cursor: pointer;
}

#buttons {
    position: absolute;
    right: 10%;
    bottom: 15%;
}

button {
    cursor: pointer;
}

.navbar {
    top: 0;
    left: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    z-index: 1;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 20px 0px 20px 0px;
    margin: 0;
    font-weight: bolder;
}

.dropdown {
    float: left;
    overflow: hidden;
    width: 20%;
    text-align: center;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 40px 0px 40px 0px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    width: 100%;
}

.navbar a:hover,
.dropdown:hover .dropbtn,
.dropbtn:focus {
    background-color: white;
    color: black;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    z-index: 1;
    margin: 0;
}

.dropdown-content a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    margin: 0;
}

.dropdown-content a:hover {
    background-color: #ddd;
    margin: 0;
}

.show {
    display: block;
}

.car-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.car-item {
    flex: 1;
    background-color: #f5f5f5;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.car-image {
    height: auto;
    max-width: 100%;
    border-radius: 8px;
}

.car-info {
    margin-top: 10px;
    color: black;
}

.info-text {
    font-weight: bold;
}
